<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              Home
            </a>
          </li>
          <li class="nav-item  active">
            <a class="nav-link" routerLink="/category">
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">
              FAQ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">
              Contact
            </a>
          </li>
        </ul>
        <ul class="sign-in">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="lni-user"></i> My Account</a>
            <nav class="dropdown-menu">
              <a class="dropdown-item" routerLink="/myAds" *ngIf="isLoggedIn()"><i class="lni-wallet"></i> My Ads</a>
              <a class="dropdown-item" routerLink="/login" *ngIf="!isLoggedIn()"><i class="lni-lock"></i>Log In</a>
              <a class="dropdown-item" routerLink="/register" *ngIf="!isLoggedIn()"><i class="lni-user"></i>Sign Up</a>
              <a class="dropdown-item" routerLink="" routerLinkActive="false" (click)="logOut()" *ngIf="isLoggedIn()"><i class="lni-lock"></i>Log Out</a>
              <a class="dropdown-item" routerLink="account-close.html" *ngIf="isLoggedIn()"><i class="lni-close"></i>Account close</a>
            </nav>
          </li>
        </ul>
        <a class="tg-btn" [routerLink]="isLoggedIn() ? ['/postAd'] : ['/login']">
          <i class="lni-pencil-alt"></i> Post An Ad
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Hero Area Start -->
  <div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="contents-ctg">
            <div class="search-bar">
              <div class="search-inner">
                <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                  <div class="form-group inputwithicon">
                    <i class="lni-tag"></i>
                    <input type="text" name="customWord" class="form-control" placeholder="Enter Product Keyword"
                           formControlName="customWord"
                           [ngClass]="{ 'is-invalid': submitted && f.customWord.errors }">
                  </div>
                  <div class="form-group inputwithicon">
                    <i class="lni-map-marker"></i>
                    <input type="text" name="location" class="form-control" placeholder="Location ..."
                           formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                  </div>
                  <div class="form-group inputwithicon">
                    <i class="lni-menu"></i>
                    <div class="select">
                      <select formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                        <option value="" disabled selected>Select Category</option>
                        <option value="vehicles">Vehicles</option>
                        <option value="mobiles">Mobiles</option>
                        <option value="electronics">Electronics</option>
                        <option value="furniture">Furniture</option>
                        <option value="fashion">Fashion</option>
                        <option value="jobs">Jobs</option>
                        <option value="realEstate">Real Estate</option>
                        <option value="animals">Animals</option>
                        <option value="education">Education</option>
                        <option value="laptopsPcs">Laptops & PCs</option>
                        <option value="services">Services</option>
                        <option value="matrimony">Matrimony</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-common log-btn" type="submit"><i class="lni-search"></i> Search Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->
</header>
<!-- Header Area wrapper End -->

<!-- Main container Start -->
<div class="main-container section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
        <aside>
          <!-- Categories Widget -->
          <div class="widget categories">
            <h4 class="widget-title">All Categories</h4>
            <ul class="categories-list">
              <li>
                <a>
                  <i class="lni-car"></i>
                  Vehicles <span class="category-counter">()</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-phone"></i>
                  Mobiles <span class="category-counter">(8)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-display"></i>
                  Electronics <span class="category-counter">(2)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-leaf"></i>
                  Furniture <span class="category-counter">(3)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-home"></i>
                  Fashion <span class="category-counter">(4)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-pencil"></i>
                  Jobs <span class="category-counter">(5)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-tshirt"></i>
                  Electronics <span class="category-counter">(9)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-home"></i>
                  Real Estate<span class="category-counter">(9)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-github"></i>
                  Animals<span class="category-counter">(9)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-graduation"></i>
                  Education<span class="category-counter">(9)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-laptop"></i>
                  Laptops & PCs<span class="category-counter">(9)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-paint-roller"></i>
                  Services<span class="category-counter">(9)</span>
                </a>
              </li>
              <li>
                <a  >
                  <i class="lni-heart"></i>
                  Matrimony<span class="category-counter">(9)</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <img class="img-fluid" src="assets/img/img1.jpg" alt="">
            </div>
          </div>
        </aside>
      </div>
      <div class="col-lg-9 col-md-12 col-xs-12 page-content">
        <!-- Product filter Start -->
        <div class="product-filter">
          <div class="short-name">
            <span>Showing {{adCount}} products</span>
          </div>
          <div class="Show-item">
            <span>Show Items</span>
          </div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#grid-view"><i class="lni-grid"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#list-view"><i class="lni-list"></i></a>
            </li>
          </ul>
        </div>
        <!-- Product filter End -->

        <!-- Adds wrapper Start -->
        <div class="adds-wrapper">
          <div class="tab-content">
            <div id="grid-view" class="tab-pane fade">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngFor="let ad of adList">
                  <div class="featured-box">
                    <figure>
                      <a><img class="img-fluid" src="data:image/jpeg;base64,{{ad.image}}" alt=""></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a><i class="lni-folder"></i>{{ad.category}}</a>
                      </div>
                      <h4><a routerLink="ads-details.html">{{ad.title}}</a></h4>
                      <span>{{ad.description}}</span>
                      <ul class="address">
                        <li>
                          <a><i class="lni-map-marker"></i>{{ad.city}}, {{ad.state}}</a>
                        </li>
                        <li>
                          <a><i class="lni-alarm-clock"></i>{{ad.createdate}}</a>
                        </li>
                        <li>
                          <a><i class="lni-user"></i>{{ad.firstname}} {{ad.lastname}}</a>
                        </li>
                        <li>
                          <a><i class="lni-package"></i>{{ad.condition}}</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">${{ad.price}}</h3>
                        <a class="btn-verified float-lg-right" style="margin-left: 10px;"><i class="lni-envelope"></i>{{ad.phone}}</a>
                        <a class="btn-verified float-right"><i class="lni-phone-handset"></i>{{ad.phone}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="list-view" class="tab-pane fade active show">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let ad of adList">

                  <div class="featured-box">
                    <figure>
                      <a routerLink="#"><img class="img-fluid" src="data:image/jpeg;base64,{{ad.image}}" alt=""></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a routerLink="#"><i class="lni-folder"></i>{{ad.category}}</a>
                      </div>
                      <h4><a routerLink="ads-details.html">{{ad.title}}</a></h4>
                      <span>{{ad.description}}</span>
                      <ul class="address">
                        <li>
                          <a routerLink="#"><i class="lni-map-marker"></i>{{ad.city}}, {{ad.state}}</a>
                        </li>
                        <li>
                          <a routerLink="#"><i class="lni-alarm-clock"></i>{{ad.createdate}}</a>
                        </li>
                        <li>
                          <a routerLink="#"><i class="lni-user"></i>{{ad.firstname}} {{ad.lastname}}</a>
                        </li>
                        <li>
                          <a routerLink="#"><i class="lni-package"></i>{{ad.condition}}</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">${{ad.price}}</h3>
                        <a class="btn-verified float-lg-right" style="margin-left: 10px;"><i class="lni-envelope"></i>{{ad.phone}}</a>
                        <a class="btn-verified float-right"><i class="lni-phone-handset"></i>{{ad.phone}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Adds wrapper End -->
      </div>
    </div>
  </div>
</div>
<!-- Main container End -->

<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h5 class="footer-logo"><img src="assets/img/logo.png" alt=""></h5>
            <div class="textwidget">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Help & Support</h3>
            <ul class="menu">
              <li><a>Live Chat</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a>Purchase Protection</a></li>
              <li><a>Support</a></li>
              <li><a>Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Subscribe us</h3>
            <p class="text-sub">We have over 5 years of experience Our suppoer avalable to help you 24 hours a day, seven days week</p>
            <ul class="footer-social">
              <li><a class="facebook"><i class="lni-facebook-filled"></i></a></li>
              <li><a class="twitter"><i class="lni-twitter-filled"></i></a></li>
              <li><a class="linkedin"><i class="lni-linkedin-fill"></i></a></li>
              <li><a class="google-plus"><i class="lni-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->

  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info float-left">
            <p>All copyrights reserved &copy; 2018 - ZTI</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

<!-- Go to Top Link -->
<a routerLink="#" class="back-to-top">
  <i class="lni-chevron-up"></i>
</a>
