<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category">
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">
              FAQ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">
              Contact
            </a>
          </li>
        </ul>
        <ul class="sign-in">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"><i class="lni-user"></i> My Account</a>
            <nav class="dropdown-menu">
              <a class="dropdown-item" routerLink="/myAds" *ngIf="isLoggedIn()"><i class="lni-wallet"></i>
                My Ads</a>
              <a class="dropdown-item" routerLink="/login" *ngIf="!isLoggedIn()"><i class="lni-lock"></i>Log In</a>
              <a class="dropdown-item" routerLink="/register" *ngIf="!isLoggedIn()"><i class="lni-user"></i>Sign Up</a>
              <a class="dropdown-item" routerLink="" routerLinkActive="false" (click)="logOut()" *ngIf="isLoggedIn()"><i
                class="lni-lock"></i>Log Out</a>
              <a class="dropdown-item" routerLink="account-close.html" *ngIf="isLoggedIn()"><i class="lni-close"></i>Account
                close</a>
            </nav>
          </li>
        </ul>
        <a class="tg-btn" routerLink="/postAd">
          <i class="lni-pencil-alt"></i> Post An Ad
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
</header>
<!-- Header Area wrapper End -->

<!-- Page Header Start -->
<div class="page-header" style="background: url(http://images.unsplash.com/photo-1518081461904-9d8f136351c2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a815e999d0f593c8c8bbcb6473b0d39&auto=format&fit=crop&w=1377&q=80);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">My Ads</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">My Ads</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <aside>
          <div class="sidebar-box">
            <div class="user">
              <div class="usercontent">
                <h3>User</h3>
                <h4>{{user}}</h4>
              </div>
            </div>
            <nav class="navdashboard">
              <ul>
                <li>
                  <a class="active" routerLink="/myAds">
                    <i class="lni-layers"></i>
                    <span>My Ads</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/postAd">
                    <i class="lni-pencil-alt"></i>
                    <span>Post An Ad</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="lni-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="lni-star"></i>
                    <span>Privacy Settings</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/login" (click)="logOut()">
                    <i class="lni-enter"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <img class="img-fluid" src="http://images.unsplash.com/photo-1529570881275-672bd60055af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=388f6327c1ad347d7e0b793763f74743&auto=format&fit=crop&w=695&q=80" alt="">
            </div>
          </div>
        </aside>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content">
          <div class="inner-box">
            <div class="dashboard-box">
              <h2 class="dashbord-title">My Ads</h2>
            </div>
            <div class="dashboard-wrapper">
              <table class="table table-responsive dashboardtable tablemyads">
                <thead>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Ad Status</th>
                  <th>Price</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-category="active" *ngFor="let ad of adList; index as i">
                  <td data-title="Title">
                    {{ad.title}}
                  </td>
                  <td data-title="Category"><span class="adcategories">{{ad.category}}</span></td>
                  <td data-title="Ad Status"><span class="adstatus adstatusactive">active</span></td>
                  <td data-title="Price">
                    <h3>{{ad.price}}$</h3>
                  </td>
                  <td>{{ad.createdate}}</td>
                  <td data-title="Action">
                    <div class="btns-actions">
                      <a class="btn-action btn-delete" (click)="deleteAd(i)"><i class="lni-trash"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
