<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category">
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">
              FAQ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">
              Contact
            </a>
          </li>
        </ul>
        <ul class="sign-in">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"><i class="lni-user"></i> My Account</a>
            <nav class="dropdown-menu">
              <a class="dropdown-item" routerLink="/myAds" *ngIf="isLoggedIn()"><i class="lni-wallet"></i>
                My Ads</a>
              <a class="dropdown-item" routerLink="/login" *ngIf="!isLoggedIn()"><i class="lni-lock"></i>Log In</a>
              <a class="dropdown-item" routerLink="/register" *ngIf="!isLoggedIn()"><i class="lni-user"></i>Sign Up</a>
              <a class="dropdown-item" routerLink="" routerLinkActive="false" (click)="logOut()" *ngIf="isLoggedIn()"><i
                class="lni-lock"></i>Log Out</a>
              <a class="dropdown-item" routerLink="account-close.html" *ngIf="isLoggedIn()"><i class="lni-close"></i>Account
                close</a>
            </nav>
          </li>
        </ul>
        <a class="tg-btn" routerLink="/postAd">
          <i class="lni-pencil-alt"></i> Post An Ad
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
</header>
<!-- Header Area wrapper End -->

<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Post you Ads</h2>
          <ol class="breadcrumb">
            <li><a routerLink="/">Home /</a></li>
            <li class="current">Post you Ads</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <aside>
          <div class="sidebar-box">
            <div class="user">
              <figure>
                <a routerLink="#"><img src="assets/img/author/img1.jpg" alt=""></a>
              </figure>
              <div class="usercontent">
                <h3>User</h3>
                <h4>{{user}}</h4>
              </div>
            </div>
            <nav class="navdashboard">
              <ul>
                <li>
                  <a routerLink="/myAds">
                    <i class="lni-layers"></i>
                    <span>My Ads</span>
                  </a>
                </li>
                <li>
                  <a class="active" routerLink="/postAd">
                    <i class="lni-pencil-alt"></i>
                    <span>Post An Ad</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="lni-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="lni-star"></i>
                    <span>Privacy Settings</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/login" (click)="logOut()">
                    <i class="lni-enter"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <img class="img-fluid" src="assets/img/img1.jpg" alt="">
            </div>
          </div>
        </aside>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row page-content form-group" [formGroup]="postAdForm">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            <div class="inner-box">
              <div class="dashboard-box">
                <h2 class="dashbord-title">Ad Detail</h2>
              </div>
              <div class="dashboard-wrapper">
                <div class="form-group mb-3">
                  <label class="control-label">Ad Title</label>
                  <input class="form-control input-md" name="title" type="text" formControlName="title"
                         [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                </div>
                <div class="mb-3 tg-inputwithicon">
                  <label class="control-label">Categories</label>
                  <div class="tg-select form-control">
                    <select class="form-control" formControlName="category"
                            [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                      <option value="" disabled selected>Select Category</option>
                      <option value="vehicles">Vehicles</option>
                      <option value="mobiles">Mobiles</option>
                      <option value="electronics">Electronics</option>
                      <option value="furniture">Furniture</option>
                      <option value="fashion">Fashion</option>
                      <option value="jobs">Jobs</option>
                      <option value="realEstate">Real Estate</option>
                      <option value="animals">Animals</option>
                      <option value="education">Education</option>
                      <option value="laptopsPcs">Laptops & PCs</option>
                      <option value="services">Services</option>
                      <option value="matrimony">Matrimony</option>
                    </select>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label class="control-label">Enter Price</label>
                  <input class="form-control input-md" name="price" placeholder="$" type="text" formControlName="price"
                         [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                </div>
                <div class="form-group mb-3 tg-inputwithicon">
                  <label class="control-label">Condition</label>
                  <div class="tg-select form-control">
                    <select class="form-control" formControlName="condition"
                            [ngClass]="{ 'is-invalid': submitted && f.condition.errors }">
                      <option value="" disabled selected>Select Condition</option>
                      <option value="new">Brand New</option>
                      <option value="used">Used</option>
                      <option value="n/a">N/A</option>
                    </select>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label class="control-label">Description</label>
                  <section id="editor">
                      <textarea class="form-control input-md" formControlName="description"
                                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                  </section>
                </div>
                <label class="tg-fileuploadlabel" for="tg-photogallery">
                  <div class="panel panel-primary">
                    <div *ngFor="let file of array$ | async">
                      <div class="panel-body">
                        <img src="{{file}}" alt="{{file}}" style="max-width:350px"/>
                      </div>
                    </div>
                  </div>
                  <span>Drop files anywhere to upload</span>
                  <span>Or</span>
                  <span class="btn btn-common">Select File</span>
                  <span>Maximum upload file size: 500 KB</span>
                  <input id="tg-photogallery" class="form-control tg-fileinput" type="file" name="file" formControlName="file"
                         (change)="onSelectFile($event)" accept="image/*" multiple="false">
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <div class="inner-box">
              <div class="tg-contactdetail">
                <div class="dashboard-box">
                  <h2 class="dashbord-title">Contact Detail</h2>
                </div>
                <div class="dashboard-wrapper">
                  <div class="form-group mb-3">
                    <label class="control-label">First Name*</label>
                    <input class="form-control input-md" name="name" type="text" formControlName="firstname"
                           [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                  </div>
                  <div class="form-group mb-3">
                    <label class="control-label">Last Name*</label>
                    <input class="form-control input-md" name="name" type="text" formControlName="lastname"
                           [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                  </div>
                  <div class="form-group mb-3">
                    <label class="control-label">Phone*</label>
                    <input class="form-control input-md" name="phone" type="text" formControlName="phone"
                           [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                  </div>
                  <div class="form-group mb-3 tg-inputwithicon">
                    <label class="control-label">State*</label>
                    <input class="form-control" name="state" type="text" formControlName="state"
                           [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                  </div>
                  <div class="form-group mb-3 tg-inputwithicon">
                    <label class="control-label">City*</label>
                    <input class="form-control" name="city" type="text" formControlName="city"
                           [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                  </div>
                  <div class="tg-checkbox">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="tg-agreetermsandrules"
                             formControlName="agree"
                             [ngClass]="{ 'is-invalid': submitted && f.agree.errors }">
                      <label class="custom-control-label" for="tg-agreetermsandrules">I agree to all <a
                        routerLink="javascript:void(0);">Terms of Use &amp; Posting Rules</a></label>
                    </div>
                  </div>
                  <button class="btn btn-common" type="submit" (click)="onSubmit()">Post Ad</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h5 class="footer-logo"><img src="assets/img/logo.png" alt=""></h5>
            <div class="textwidget">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Help & Support</h3>
            <ul class="menu">
              <li><a>Live Chat</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a>Purchase Protection</a></li>
              <li><a>Support</a></li>
              <li><a>Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Subscribe us</h3>
            <p class="text-sub">We have over 5 years of experience Our suppoer avalable to help you 24 hours a day, seven days week</p>
            <ul class="footer-social">
              <li><a class="facebook"><i class="lni-facebook-filled"></i></a></li>
              <li><a class="twitter"><i class="lni-twitter-filled"></i></a></li>
              <li><a class="linkedin"><i class="lni-linkedin-fill"></i></a></li>
              <li><a class="google-plus"><i class="lni-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->

  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info float-left">
            <p>All copyrights reserved &copy; 2018 - ZTI</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
<!-- Footer Section End -->


<!-- Go to Top Link -->
<a routerLink="#" class="back-to-top">
  <i class="lni-chevron-up"></i>
</a>
